@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    text-align: center;
    margin-bottom: .5rem;
    display: inline-block;
    position: relative;
    background: #0097a7;
    color: #fff;
    margin-bottom: 0;
    padding: .5rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}


.list1a {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
    counter-reset: li;
    width: 500px;
}

.list1a li {
    border: 2px solid #337AB7;
    background: transparent;
    position: relative;
    margin-bottom: 20px;
    padding: 16px 10px;
    cursor: pointer;
}

.list1a li:hover {
    z-index: 1;
}

.list1a li:before {
    border: 2px solid #337AB7;
    position: absolute;
    top: -14px;
    padding: 2px 10px;
    font-size: 11px;
    font-weight: bold;
    color: #337AB7;
    background: #d5e2f0;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.list1a li:hover:before {
    background: #337AB7;
    color: #FFF;
    -webkit-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    -o-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
}

.list1a li:after {
    content: "";
    position: absolute;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: width;
    transition-property: width;
    z-index: -1;
    background: #d5e2f0;
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.list1a li:hover:after {
    width: 100%;
}

.draw {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 700px;
    bottom: -10px;
}

.draw button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.draw button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


.d2 {
    background: #DABB52;
    box-sizing: border-box;
    margin: 0;
}

.help {
    margin-bottom: 50px;
}

.help form {
    position: relative;
    width: 300px;
    margin: -30px auto;
}

.d2 div {
    padding: 30px 0;
}


.d2 input,
button {
    border: none;
    outline: none;
    border-radius: 3px;
}

.help input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
}

.d2 button {
    height: 29px;
    width: 27px;
    position: absolute;
    top: 8px;
    right: -8px;
    background: #F9F0DA;
}
