body {
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}


::-webkit-scrollbar-track {
  border-radius: 2px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #f0f2f5;
}

::-webkit-scrollbar-thumb {
  background: #aca8a8;
}