@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');


.userBlock {
   background-color: transparent;
   margin: 30px;
   padding: 20px;
   border-radius: 30px;
   color: rgb(29, 147, 202);
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.info {
   font-size: 17px;
   margin-top: -5px;
   font-family: 'Tiro Gurmukhi', sans-serif;

}

.title {
   font-size: 14px;
   color: rgb(235, 81, 81);
   text-transform: uppercase;
   font-family: sans-serif;
   font-weight: 600;
}

.userBlock a {
   color: rgba(236, 97, 55, 0.445);
   text-decoration: none;
   text-align: center;
   border: 1px solid gainsboro;
   border-radius: 20px;
   padding: 7px;
   background-color: #a5def1;
}

.blockInfo {
   margin-top: -15px;
}